set -e
source_up
DIR=`pwd`

PATH_add $DIR/.direnv/bin

cd $DIR
if [ -f '.env' ]; then
source .env
fi

init() {
  if [ -f "pnpm-lock.yaml" ]; then
    if [ ! -d $DIR/$1/node_modules ]; then
      if ! [ -x "$(command -v pnpm)" ]; then
        npm install -g pnpm
      fi
      cd $DIR/$1
      pnpm i
      cd $DIR
    fi
  fi
}

init .

if [ -f "../api/.env" ]; then
set -o allexport
source ../api/.env
set +o allexport
fi
